---
layout: default
title: Blog Page
---
<h1 class="col-header dark-orange">All posts</h1>
{% for post in site.posts %}
<div class="post-preview">
    <img class="post-preview__left" src="{{ post.image }}">
    <div class="post-preview__right">
        <a class="preview-title" href="{{ post.url }}">{{ post.title }}</a>
        <span>{{ post.date | date: "%b %d, %Y" }}</span>
        <div class="tag-group">
            {% for tag in post.tags %}
            <div class="tag"><span class="tag-text">{{ tag }}</span></div>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}


