<header>
    <nav>
      <ul class="top-nav">
        <li class="top-nav__logo"><a href="/">{{ site.title }}</a></li>
        <div class="top-nav__link-group">
          <li class="top-nav__link"><a href="/">Home</a></li>
          <li class="top-nav__link"><a href="/blog">Blog</a></li>
          <li class="top-nav__link"><a href="/gallery">Gallery</a></li>
          <li class="top-nav__link"><a href="/locations">Locations</a>
          <li class="top-nav__link"><a href="/about">About</a>
          <li class="top-nav__link"><a href="#">
              <img class="icons" src="/images/search-icon.svg">
            </a>
          </li>
        </div>
      </ul>
    </nav>
  </header>