---
layout: default
---
<div class="b-hero">
    <img class="b-hero__image" src="{{ page.image }}">
    <div class="b-hero__info">
        <h1 class="b-hero__title">{{ page.title }}</h1>
        <div class="b-hero__author-date">
            <span>Written by: {{ page.author }}</span>
            <span>{{ page.date | date: "%b %d, %Y" }}</span>
            <div class="tag-group">
                {% for tag in page.tags %}
                <div class="tag">
                    <span class="tag-text">
                    <a href="#">{{ tag }}</a>
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{{ content }}